<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {{>headers}}
    <div class="about">
        <div>
            <img class="me" src="./image/me.jpg">
        </div>
        <div class="description">
            <p style="fontSize:40px">
                Hello,I am self-taught developer pursuing Bachelors in Computer
                Science and Engineering with specialization in Cloud Computing and
                Information Security from Integral University, Lucknow.
            </p>
            <p style="fontSize:40px">
                I like to make things and Cloud Computing fascinates me the most.
                I have learnt a lot of things related to Cloud Computing and
                DevOps. I am a FullStack Web Developer and I love tweaking with
                React.
            </p>
            <p style="fontSize:40px">
                I am a full-time Linux user and I support Free and Open Source
                Software Technologies..
            </p>
        </div>
    </div>
    {{>footer}}
</body>

</html>