<footer>
    <p>Created by {{name}} </p>
    <h5> Follow Me Here</h5>
    <div class="social">
        <a href="mailto:deepakshakya4455@gmail.com" target="_blank">
            <i class="fa fa-envelope"></i>
        </a>
        <a href="https://github.com/DeepakShakya24" target="_blank">
            <i class="fa fa-github"></i>
        </a>
        <a href="https://Linkedin.com/in/deepak-shakya-174978189" target="_blank">
            <i class="fa fa-linkedin"></i>
        </a>
        <a href="https://www.instagram.com/_deepakshakya_" target="_blank">
            <i class="fa fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/profile.php?id=100011861584240" target="_blank">
            <i class="fa fa-facebook-f"></i>
        </a>
    </div>

</footer>